.Count {
  font-weight: bold;
  color: orange;
}

.header {
  color: white;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

.subreddit {
}
