.Header {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  height: 2.5em;
}

.NavItem {
  display: block;
  margin-right: 1em;
}

.NavLink {
  height: 100%;
  text-decoration: none;
  display: inline-block;
}
