.Header {
  height: 4em;
  background-color: black;
  margin-bottom: 2rem;
}

.content {
  list-style: none;
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.NavItem {
  display: block;
  height: 100%;
}

.NavLink {
  height: 100%;
  text-decoration: none;
  display: block;
  line-height: 4em;
  color: white;
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-decoration: none;
}

.Logout {
  -webkit-appearance: none;
  background-color: inherit;
  border: none;
}
