.Header {
  height: 3em;
  background-color: rgb(150, 116, 65);
  margin-bottom: 1rem;
}

.content {
  list-style: none;
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.NavItem {
  display: block;
  height: 100%;
  background-color: rgb(150, 116, 65);
}

.NavLink {
  height: 100%;
  text-decoration: none;
  display: block;
  line-height: 3em;
  color: white;
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-decoration: none;
}

.Logout {
  -webkit-appearance: none;
  background-color: inherit;
}
